@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Press+Start+2P&display=swap');
/*
*{
    border: 1px solid red !important;
}
*/
html{
    display: flex;
    justify-content: center;
}

body{
    max-width: 900px;
    max-height: 100%;
    flex-grow: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: black;
    color:azure;
    border-radius: 0px 0px 8px 8px;
    height: 4rem;
}

#logo-container{
    display: flex;
}

.logo{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4rem;
    padding-right: 1.8rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.2rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    flex-wrap: wrap;
}

.menu li{
    list-style: none;
    text-decoration: underline;
    text-decoration-color: cyan;
}

.sobre-container{
    align-items: flex-start;
    width: 50%;
}

.sobre{
    padding: 1rem 0 1rem 1rem;
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
  
}

.sobre img{
    object-fit: cover;
    width: 45%;
    height: 40%;
    border-radius: 8px;
    box-shadow: 4px 4px 11px rgb(8, 8, 8);
    margin-left: 1rem;
}


section h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    /*font-weight: 800;*/
    padding: 0.5rem 0;
    line-height: 2rem;
}

section h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    /*font-weight: 800;*/
    padding: 0.5rem 0;
    line-height: 1rem;
    text-decoration: underline;    
}

section p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
}

.titulo-projetos{
    display: flex;
    gap:0.5rem;
    align-items: center;
}

.titulo-projetos span{
    font-size: 1.8rem;
}

.projetos{
    padding: 1rem;
}

.projetos-container img{
    object-fit: cover;
    width: 65%;
    height: 50%;
    box-shadow: 2px 2px 5px gray;

}

.projetos-container p{
    font-size: 1.5rem;
    padding-bottom: 2rem;
    margin: 0.5rem 0 0 0.5rem;
}   

.mostrar-projeto{
    display: none;
}

.skills{
    padding: 1rem;
}
.skills h2{
    margin-bottom: 1rem;
}

.skills i{
    font-size: 232%;
    padding-right: 1.2rem;
}

#coracao{
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
}

footer{
    font-family: 'Press Start 2P', cursive;
    font-size: 73%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background-color: black;
    color: azure;
    border-radius: 8px 8px 0px 0px;
    padding: 1rem;
}

.contato{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    line-height: 2rem;
}

.ico-container{
    display: flex;
}

.ico-contatos1 i{
    font-size: 232%;
    padding-right: 1rem;
}

.ico-contatos2 img{
    width: 85%;
    height: 85%;
    
}

.contato-container{
    padding-left: 1rem;
}


@media only screen and (max-width:870px){
    .da-silva{
        display: none;
     }

}

@media only screen and (max-width:750px){
       .sobre{
        flex-wrap: wrap-reverse;
        
    }

    .sobre-container{
        width: 90%;
    }

    .sobre img{
        width: 90%;
        margin-bottom: 1rem;
        margin-top: 4.2rem;
    }


     nav{
        height: 3rem;
        position: fixed;
        width: 91.5%;
     }

     .contato{
        margin-top: 4.8rem;
     }

     .menu{
        display: none;
     }
}